NEXT_PUBLIC_SUPABASE_URL=https://duofozyjmsicofmnmsal.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1b2ZvenlqbXNpY29mbW5tc2FsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzc3MzQ2NTcsImV4cCI6MjA1MzMxMDY1N30.c_By4uNid3afZBtysYPiyEHcEGih-naisbqmzOnf1dQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1b2ZvenlqbXNpY29mbW5tc2FsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNzczNDY1NywiZXhwIjoyMDUzMzEwNjU3fQ.3GxZirTE0AnuZt_rB9PfZfKF_ETY7lHMfxpe5veUqoo
NEXT_PUBLIC_SITE_URL=https://match-pro-resume-1-24-25-5jpl-git-main-vicsicards-projects.vercel.app
STRIPE_WEBHOOK_SECRET=whsec_2ex4LxRn8yGin8r0Q89kPCWD0z3C1II3
STRIPE_SECRET_KEY=sk_test_51OocqGGEHfPiJwM4A8f5Rjlu1LjKj0P6hbWO8oYfGnBPofsJ3jBCtnAA5GA1EFz4noXoYKFls9BDRKfhjdh8H90d00t2TCmNsc
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51OocqGGEHfPiJwM4YLpvOAvWQBBpeFt4dsQG8wBfksxwmlKPCwUHfBJjAeYWqvhZhpoLs7JiwqjmBAM466DZjPKU00j0whzsnn
